
<main>
    <form action="/add" class="form" method="post">
        <input class="form_input" type="text" name="todofield" id="todofield" placeholder="Ajouter à la to-do">
    </form>

    <div class="todolist">
    <% if(locals.table.length) { %>
            <ul class="listofchores">
        <% for (const chore of locals.table) { %>
            
                <li class="todolist__li"> 
                    <% if(chore.isCompleted) {%> 
                        <a class = "link" href="/undo/<%= chore.id %>"><div class="button__done">&#10003;</div></a>
                        <form action="/modify/<%= chore.id %>"><input class="chore done" type="search" name="chore" id="<%= chore.id %>" value="<%= chore.name %>"></form>
                    <% } else { %> 
                        <a class = "link" href="/do/<%=  chore.id %>"><div class="button__done">&nbsp;</div></a>
                        <form action="/modify/<%=  chore.id %>"><input class="chore" type="search" name="chore" id="<%= chore.id %>" value="<%= chore.name %>"></form>
                    <% } %>   
                    
                    <a class="link" href="/remove/<%=  chore.id %>">&#10060;</a>
                </li>
        <% } %>

    <% } %>
</ul>
<ul class="infos">
    <% if(locals.table.length) { %>
        <% if(locals.table.some(chore => !chore.isCompleted)) { %>
            <li class="alltreatment"><a class="link" href="/completeEverything">Tout compléter</a></li>
        <% } else { %>
            <li><a class="link" href="/uncompleteEverything">Tout décocher</a></li>
        <% } %>
    <% }%>

    <div class="filters">
        <li class="filter <% if (locals.current ==="home") { %> active <% } %>" ><a class="link link--filters" href="/">Total : <%= locals.session.todolist.length %></a></li>
        <li class="filter <% if (locals.current ==="active") { %> active <% } %>" ><a class="link link--filters" href="/active">Pending : <%= locals.session.nbOfFalse %></a></li>
        <li class="filter <% if (locals.current ==="completed") { %> active <% } %>" ><a class="link link--filters" href="/completed">Done : <%= locals.session.nbOfTrue %></a></li>
    </div>

    <% if(locals.table.length) { %>
        <li class="alltreatment"><a class="link" href="/deleteEverything">Tout supprimer</a></li>
    <% }%>
       

</ul>
</div>


</main>